<section id="awards" class="section-padding bg-light">
    <div class="container">
        <h2 class="section-title">Awards & Certifications</h2>
        <p class="section-desc">A glimpse of our proudest achievements and recognitions in preserving Rajasthani culture.</p>
        
        <div class="grid-3">
            <div class="certificate-box">
                <img src="assets/images/award1.jpeg" alt="Award 1">
            </div>
            
            <div class="certificate-box">
                <img src="assets/images/2.jpeg" alt="Award 2">
            </div>
            <div class="certificate-box">
                <img src="assets/images/4.jpeg" alt="Award 2">
            </div>
            <div class="certificate-box">
                <img src="assets/images/5.jpeg" alt="Award 2">
            </div>
            <div class="certificate-box">
                <img src="assets/images/6.jpeg" alt="Award 2">
            </div>
            
            <div class="certificate-box">
                <img src="assets/images/3.jpeg" alt="Award 3">
            </div>
        </div>
    </div>
</section>